* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

header {
  height: 50%;
}

.max-width-wrapper {
  max-width: 50%;
  margin: 0px auto;
}

.intro-chunk {
  width: 50%;
  padding-top: 64px;
}

.title {
  margin-bottom: 48px;
}

header p {
  font-size: 1.25rem;
}

strong {
  color: hsl(160deg, 100%, 30%)
}

main {
  height: 50%;
  border-top: 5px solid hsl(0deg, 0%, 40%);
  background-color: hsl(0deg, 0%, 60%);
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 5px solid hsl(0deg, 0%, 40%);
  padding: 0px 32px;
  margin-top: 48px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 5px solid hsl(45deg, 100%, 40%);
  max-width: fit-content;
  padding: 16px;
  margin-left: -48px;
}